<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="MvcTestEntities" connectionString="metadata=res://*/MvcTest.csdl|res://*/MvcTest.ssdl|res://*/MvcTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRYAN-PC\SQLEXPRESS;initial catalog=MvcTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
